<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}">
<!-- layout母版页文件路径-->

<head>
    <!-- 子页head,会排在母版页的后面 -->
    <style>
        .container {
            padding: 30px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .red {
            color: #ff0000;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <!--列表顶部搜索和工具条-->
        <el-row>
            <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                <el-form-item label="应用名称">
                    <el-input v-model="searchForm.appName" placeholder="应用名称"></el-input>
                </el-form-item>
                <el-form-item label="线程池名称">
                    <el-input v-model="searchForm.threadPoolName" placeholder="线程池名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                    <el-button type="success" icon="plus" @click="addClick">新增</el-button>
                </el-form-item>
            </el-form>
        </el-row>
        <!--列表-->
        <el-row>
            <el-table :data="tableData"
                      v-loading.body="loading"
                      border
                      @selection-change="selectionChange"
                      style="width: 100%" header-cell-class-name="table-header">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="appName"
                        label="应用名称"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="poolName"
                        label="线程池名称"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="coreSize"
                        label="核心线程数"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="maxSize"
                        label="maxSize"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="keepAliveTime"
                        label="keepAliveTime"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="capacity"
                        label="capacity"
                        width="200">
                </el-table-column>


                <el-table-column
                        label="操作">
                    <template scope="scope">
                        <el-button type="text" icon="el-icon-edit" @click="editClick(scope.row)">编辑
                        </el-button>
                        <el-button type="text" icon="el-icon-delete" class="red"
                                   @click="deleteClick(scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>

        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18">
                <el-pagination
                        @size-change="pageSizeChange"
                        @current-change="currentPageChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </el-col>
        </el-row>

        <!--编辑界面-->
        <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" :before-close="handleClose">
            <el-form :model="editForm" :inline="true" label-width="100px" :rules="editFormRules" ref="editForm">
                <el-form-item label="线程池名称" prop="poolName">
                    <el-input v-model="editForm.poolName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="核心线程数" prop="coreSize">
                    <el-input v-model="editForm.coreSize"></el-input>
                </el-form-item>
                <el-form-item label="最大线程数" prop="maxSize">
                    <el-input v-model="editForm.maxSize" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="空闲等待时间">
                    <el-input v-model="editForm.keepAliveTime" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="队列容量">
                    <el-input v-model="editForm.capacity" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit">提交</el-button>
            </div>
        </el-dialog>

    </div>
</div>


<th:block layout:fragment="bottomscriptblock">
    <script type="text/javascript">
        var tableView = new Vue({
            el: '#dataContent',
            data: {
                //显示加载中样式
                loading: false,
                //搜索表单
                searchForm: {
                    appName: "demoApp",
                    threadPoolName: "",
                    pageSize: 10,
                    currentPage: 1
                },
                //当前页
                currentPage: 1,
                //分页大小
                pageSize: 10,
                //总记录数
                totalCount: 0,
                editFormRules: {
                    productId: [
                        {required: true, message: '请输入姓名', trigger: 'blur'}
                    ]
                },
                //编辑界面数据
                editForm: {
                    poolName: null,
                    coreSize: null,
                    maxSize: null,
                    keepAliveTime: null,
                    capacity: null
                },

                //列表数据
                tableData: null,
                statusMap: null,
                //编辑界面是否显示
                dialogVisible: false,
                dialogTitle: '',
            },
            methods: {
                //表格查询事件
                searchClick: function () {
                    var self = this;
                    self.searchForm.pageSize = this.pageSize;
                    self.searchForm.currentPage = this.currentPage;
                    axios({
                        method: 'post',
                        url: '/getPoolList',
                        data: self.searchForm,
                    }).then(function (response) {
                        self.tableData = response.data.content;
                        self.totalCount = 53;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                //分页大小修改事件
                pageSizeChange: function (val) {
                    this.pageSize = val;
                    var _self = this;
                    _self.searchClick();//重新加载数据
                },
                //当前页修改事件
                currentPageChange: function (val) {
                    this.currentPage = val;
                    var _self = this;
                    _self.searchClick();//重新加载数据
                },
                handleClose: function () {
                    this.dialogVisible = false;
                },
                //新建事件
                addClick: function () {
                    this.dialogTitle = "新增";
                    this.dialogVisible = true;
                },
                //表格编辑事件
                editClick: function (row) {
                    var self = this;
                    self.dialogTitle = "编辑";
                    self.dialogVisible = true;
                    var param = {
                        appName: row.appName,
                        threadPoolName: row.poolName
                    };
                    axios({
                        method: 'post',
                        url: '/getPoolInfo',
                        data: param
                    }).then(function (response) {
                        self.editForm = response.data.content;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                //保存点击事件
                editSubmit: function () {
                    console.info(this.editForm);
                    //保存数据操作
                    var self = this;

                    axios({
                        method: 'post',
                        url: '/savePoolInfo',
                        data: self.editForm
                    }).then(function (response) {
                        self.searchClick(); //刷新

                        self.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                    }).catch(function (error) {
                        self.$message({
                            message: '保存失败：' + error,
                            type: 'error'
                        });
                    });
                    this.dialogVisible = false;
                },

                //表格勾选事件
                selectionChange: function (val) {
                    this.multipleSelection = val;
                    console.info(val);
                },
                //表格删除事件
                deleteClick: function (row) {
                    var _self = this;
                    this.$confirm('确认删除' + row.name + '吗?', '提示', {
                        type: 'warning'
                    }).then(function () {
                        _self.$message({
                            message: row.name + '删除成功',
                            type: 'success'
                        });
                        _self.searchClick();//重新加载数据
                    }).catch(function (e) {
                        if (e != "cancel")
                            console.log("出现错误：" + e);
                    });
                }
            },
            filters: {
                formatDate: function (value) {
                    return new Date(value).Format("yyyy-MM-dd");
                    ;
                },
                formatTime: function (cellValue) {
                    return new Date(cellValue).Format("yyyy-MM-dd hh:mm:ss");
                }
            }
        })
    </script>
</th:block>

</body>
</html>